@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header,
main,
footer {
  text-align: center;
}

header, footer {
    background-color: #2b7cd9;
    color: white
}

header {
    padding: 0.5rem;
}

h1 {
    margin: 0;
}

a {
    color: white;
    display: none;
}

nav a, h1, h2, footer {
    padding: 1rem;
}

p {
    font-size: 20px;
    margin: 0;
}

main {
    background-color: lightgrey;
    padding-bottom: 1rem;
}

h2 {
    margin: 0;
    padding: 1.8rem;
    font-size: 26px;
}

section {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: 5px solid white;
    outline: 0.1px solid black;
}

@media screen and (min-width: 700px) {
    section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px) {
    section {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    a {
        display: inline;
    }

    p {
        display: none;
    }
}