@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
}

header,
main,
footer {
  text-align: center;
}

header,
footer {
    background-color: #2b7cd9;
    color: white
}

header {
    padding: 0.5rem;
}

h1 {
    margin: 0;
}

a {
    color: white;
}

.hide {
    display: none;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav a,
h1,
h2,
footer {
    padding: 1rem;
}

button {
    font-size: 25px;
    margin: 0;
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
}

main {
    background-color: lightgrey;
    padding-bottom: 1rem;
}

h2 {
    margin: 0;
    padding: 1.8rem;
    font-size: 26px;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    justify-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    border: 5px solid white;
    outline: 0.1px solid black;
}

dialog img {
    width: 80%;
    height: auto;
    display: block;
    margin: 15vh auto;
    box-shadow: none;
    border: none;
    outline: none;
}

dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}

.close-viewer {
    position: absolute;
    top: 16vh;
    right: 7vh;
    padding: 0.5px 6px;
    font-size: 1.3em;
    background-color: rgb(235, 235, 235);
    color: black;
    outline: 1px solid black;
}

@media screen and (min-width: 700px) {
    .gallery {
        grid-template-columns: 1fr 1fr;
    }

    .close-viewer {
        right: 12vh;
        
    }
}

@media screen and (min-width: 1000px) {
    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    dialog img {
        width: 60%;
        margin: 15vh auto;
    }

    .close-viewer {
        right: 32vh;
        
    }
    
    .hide {
        display: inline;
    }

    header button {
        display: none;
    }

    nav {
        display: inline;
    }
}